<?php include "_header.html"; ?>

<h1>Books List</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>

    <tbody>
    <?php foreach ($books as $book) { ?>
    <tr>
        <td><?php echo $book['id']; ?></td><td><?php echo $book['name']; ?></td>
    </tr>
    <?php } ?>
    </tbody>
</table>

<?php include "_footer.html"; ?>