<?php include "_header.html"; ?>

<h1>Top 10 musics</h1>
<a href="#" id="loadMusicsTable">Load Data</a><br/><br/>
<table id="musicsTable">
    <tbody>
    </tbody>
</table>

<?php include "_footer.html"; ?>